<main>
    <section class="profile-section">
      <h2>Добре дошли, Иван!</h2>

      <div class="profile-info">
        <p><strong>Потребителско име:</strong> ivan123</p>
        <p><strong>Имейл:</strong> ivanexample.com</p>
        <p><strong>Роля:</strong> Потребител</p>
      </div>

      <section class="applications">
        <h3>Моите кандидатури за осиновяване</h3>
        <ul>
          <li>Рекс - Статус: Очаква одобрение</li>
          <li>Мими - Статус: Одобрено</li>
        </ul>
      </section>
    </section>
  </main>