<header>
  <div class="container">
    <h1 class="logo">🐾 <span>PetMatch</span></h1>
    <nav>
      <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/animals">Animals</a>

        <a *ngIf="!isLoggedIn()" routerLink="/login">Login</a>
        <a *ngIf="!isLoggedIn()" routerLink="/register">Register</a>

        <a *ngIf="isLoggedIn() && userRole() === 'Shelter'" routerLink="/add-animal">Add animal</a>
        <a *ngIf="isLoggedIn() && userRole() === 'Shelter'" routerLink="/my-animals">My animals</a>

        <a *ngIf="isLoggedIn() && userRole() === 'User'" routerLink="/favorites">Favorites</a>

        <a *ngIf="isLoggedIn()" routerLink="/profile">Profile</a>
        <a *ngIf="isLoggedIn()" href="#" (click)="logout()">Logout</a>
      </nav>
    </nav>
  </div>
</header>